body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  TIME OF DAY FROM Suncalc PACKAGE https://www.npmjs.com/package/suncalc
*/

.list-group-item.nadir,
.list-group-item.nightEnd,
.list-group-item.nauticalDawn,
.list-group-item.dawn,
.list-group-item.sunrise { background-color: midnightblue; color: white; }

.list-group-item.sunriseEnd,
.list-group-item.goldenHourEnd,
.list-group-item.solarNoon,
.list-group-item.goldenHour,
.list-group-item.sunsetStart { background-color: lightskyblue; }

.list-group-item.sunset,
.list-group-item.dusk,
.list-group-item.nauticalDusk,
.list-group-item.night { background-color: midnightblue; color: white; }




.card-header {
  font-weight: 700;
  font-size: 1.5rem;
}